<!DOCTYPE html>
<html lang="da">
<head>
  <link rel="stylesheet" href="/oplevelse.css">
  <meta charset="UTF-8" />
  <title>Information om oplevelse</title>
</head>

<body>
  <div class="page">
    <!-- Tilbage knap: Sender brugeren tilbage til forsiden med alle events -->
    <header class="top-bar">
      <a class="back-link" href="/forside">
        <span class="back-arrow">←</span>
        <span>Tilbage</span>
      </a>
    </header>

    <!-- Indhold -->
    <main class="main-wrapper">
      <section class="card">
        <!-- Titel -->
        <input
          type="text"
          class="title-input"
          placeholder="Tilføj navn på event"
        />

        <!-- Liste over event attributter  -->
        <div class="section-list">

          <!-- Info om Lokation -->
          <div class="section-row">
            <div class="section-left">
              <span class="section-label">Lokation</span>
              <span class="section-sub" id="lokation">
                Angiv hvor eventet sker
              </span>
            </div>
          </div>

          <!-- Info om Eventkapacitet -->
          <div class="section-row">
            <div class="section-left">
              <span class="section-label">Eventkapacitet</span>
              <span class="section-sub" id="kapacitet">
                Angiv maks. kapacitet pr. event.
              </span>
            </div>
          </div>

          <!-- Info om prisen på eventet -->
          <div class="section-row">
            <div class="section-left">
              <span class="section-label">Billetter &amp; pris</span>
              <span class="section-sub" id="pris">
                Angiv prisen på event
              </span>
            </div>
          </div>

          <!-- Info om data, tidspunkt og varighed på eventet -->
          <div class="section-row">
            <div class="section-left">
              <span class="section-label">Dato, tidspunkt og varighed på event</span>
              <span class="section-sub" id="tidspunkt">
                Angiv data, tidspunkt og varighed på event
              </span>
            </div>
          </div>

        <!-- Flere muligheder -->
        <h2 class="more-title">Flere muligheder</h2>
        <div class="more-grid">
          <div class="more-card">
            <div class="more-title-small">Beskrivelse</div>
            <div class="more-text" id="beskrivelse">Beskriv oplevelsen.</div>
          </div>
          <div class="more-card">
            <div class="more-title-small">Kategori på event</div>
            <div class="more-text" id="kategori">Hvilken kategori er eventet indenfor?</div>
          </div>
        </div>

        <!-- Samarbejde on/off switch -->
        <h2 class="samarbejde-titel">Samarbejde</h2>
        <div class="samarbejde-text">Vil du have at dette event har mulighed for, at lave et samarbejde med andre events?</div>
        <div class="samarbejde-wrapper">
          <button class="switch" id="samarbejdeSwitch">
            <div class="switch-text" id="switchText">ON/OFF</div>
          </button>
        </div>

        <h2 class="samarbejde-titel">Find andre events at samarbejde med her!</h2>
        <div class="samarbejde-text">Vil du finde andre events at samarbejde med i forhold til dette event? Så er det denne vej:</div>
        <button class="samarbejde" id="samarbejdeKnap">Find en samarbejdespartner</button>
          </button>
      </section>
    </main>
  </div>

  <script>
    /*Funktion til at indsætte givent event info i bokse på siden(kører når siden loader)*/
    async function inputEventInfo(){

      // Får information om bruger der er logget ind
      const loggetIndBruger = await fetch('/api/auth/me', { // husk alle routes skal have checkAuth middleware først
        credentials: 'include' // Hvis ikke logget ind -> send til login siden
      });
      const loggetIndBrugerInfo = await loggetIndBruger.json();

      //console.log("********LoggetIndBrugerInfo******");
      //console.log(loggetIndBrugerInfo);
                  
      
      //console.log("********Navn på host der er logget ind******");
      //console.log(loggetIndBrugerInfo.host.navn);
      //Finder navnet på den host som er logget ind
      const loggetIndHostNavn = loggetIndBrugerInfo.host.navn;


      //Find givent eventId der er klikket på ud fra sidens URL navn
      const params = new URLSearchParams(window.location.search);
      const clickedEventId = params.get("event"); // forside.tml returnenrer dette

      console.log("********ClickedEvent.ID*********")
      console.log(clickedEventId);

      /*Kalder til "proxyService.js" for at få mockdata om hosts og events*/
      const response = await fetch("/services/hostEvents?host=" + loggetIndHostNavn);
      const hostOgEventDataClient = await response.json(); 

      //console.log("*******Host og event data samlet******")
      //console.log(hostOgEventDataClient);

      /*********************EVENT TITEL***************/
      /*Finder event titel, ud fra hvilket event der er klikket på*/
      const eventTitelPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].titel

      //console.log("***********Event titel**********")
      //console.log(eventTitelPåEventClicked);
      
      /*Indsætter titlen på eventet*/
      document.querySelector(".title-input").placeholder = eventTitelPåEventClicked;
 

      /*********************LOKATION***************/
      /*Finder event lokation, ud fra hvilket event der er klikket på*/
      const eventLokationPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].lokation

      //console.log("***********Event lokation**********")
      //console.log(eventLokationPåEventClicked);
      
      /*Indsætter info om event lokation*/
      const lokationsTekst = document.getElementById('lokation');
      lokationsTekst.innerHTML = '<span>' + eventLokationPåEventClicked +'</span>';

      /*********************EVENTKAPACITET***************/
      /*Finder event kapacitet, ud fra hvilket event der er klikket på*/
      const eventKapacitetPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].eventkapacitet

      //console.log("***********Event kapacitet**********")
      //console.log(eventKapacitetPåEventClicked);
      
      /*Indsætter info om event kapacitet*/
      const kapacitetsTekst = document.getElementById('kapacitet');
      kapacitetsTekst.innerHTML = '<span>' + eventKapacitetPåEventClicked +'</span>';
      

      /*********************EVENTPRIS***************/
      /*Finder event pris, ud fra hvilket event der er klikket på*/
      const eventPrisPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].pris

      //console.log("***********Event Pris**********")
      //console.log(eventPrisPåEventClicked);
      
      /*Indsætter info om event pris*/
      const prisTekst = document.getElementById('pris');
      prisTekst.innerHTML = '<span>' + eventPrisPåEventClicked +' DKK</span>';


      /*********************EVENT DATO, TIDSPUNKT OG VARIGHED***************/
      /*Finder event data, ud fra hvilket event der er klikket på*/
      const eventDatoPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].dato
      /*Finder event tidspunkt, ud fra hvilket event der er klikket på*/
      const eventTidspunktPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].tidspunkt
      /*Finder event varighed, ud fra hvilket event der er klikket på*/
      const eventVarighedPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].varighed
      
      
      //console.log("***********Event Dato**********")
      //console.log(eventDatoPåEventClicked);
      //console.log("***********Event Tidspunkt**********")
      //console.log(eventTidspunktPåEventClicked);
      //console.log("***********Event Varighed**********")
      //console.log(eventVarighedPåEventClicked);
      

      /*Indsætter info om event dato, tidspunkt og varighed*/
      const datoTekst = document.getElementById('tidspunkt');
      datoTekst.innerHTML = '<span> Dato = ' + eventDatoPåEventClicked + ' , Tidspunkt = ' + eventTidspunktPåEventClicked + ' , Varighed = ' + eventVarighedPåEventClicked + '</span>';


      /*********************EVENTBESKRIVELSE***************/
      /*Finder event beskrivelse, ud fra hvilket event der er klikket på*/
      const eventBeskrivelsePåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].beskrivelse

      //console.log("***********Event Beskrivelse**********")
      //console.log(eventBeskrivelsePåEventClicked);
      
      /*Indsætter info om event beskrivelse*/
      const beskrivelsesTekst = document.getElementById('beskrivelse');
      beskrivelsesTekst.innerHTML = '<div>' + eventBeskrivelsePåEventClicked +'</div>';

      /*********************EVENTKATEGORI***************/
      /*Finder event kategori, ud fra hvilket event der er klikket på*/
      const eventKategoriPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].kategori

      //console.log("***********Event Kategori**********")
      //console.log(eventKategoriPåEventClicked);
      
      /*Indsætter info om event kategori*/
      const kategoriTekst = document.getElementById('kategori');
      kategoriTekst.innerHTML = '<div>' + eventKategoriPåEventClicked +'</div>';


      /*********************SAMARBJEDSSWITCH***************/
      const toggleBtn = document.getElementById('samarbejdeSwitch');
      const toggleText = document.getElementById('switchText');
      const eventSamarbejdeStatusPåEventClicked = hostOgEventDataClient.data.events[0][clickedEventId-1].samarbejde

      //console.log("*********Event Samarbejde status**********");
      //console.log(eventSamarbejdeStatusPåEventClicked);

      if (eventSamarbejdeStatusPåEventClicked == true) {
        // Event vil gerne finde samarbejde, knappen er altså on
        toggleBtn.classList.add("on");
        toggleText.innerHTML = '<div>Ja tak!</div>';
      } else {
        // Event vil ikke finde samarbejde, knappen er altså off
        toggleBtn.classList.remove("on");
        toggleText.innerHTML = '<div>Nej tak</div>';
      }

      // Når man klikker på "Find samarbejdespartner" knappen, så bliver man sendt videre til search.html siden.
      document.getElementById("samarbejdeKnap").addEventListener('click', function() {
        window.location.href = `/search?eventID=${clickedEventId}`;
      });
    }
    inputEventInfo();

  </script>
</body>
</html>